.main {
    background-color: white;
   
    .main-container {
        .page-actions{
            padding: 10px 0 0 0 ;
            padding-right: 10px;
            text-align: right;
        }

        hr.page-actions-divider {
            margin: 7px;
        }
    }
    
}
